<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.wgutermassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name=".DBProvider"
            android:authorities="com.example.wgutermassistant.dbprovider"
            android:exported="false" />
        <receiver android:name='com.example.wgutermassistant.NotificationPublisherAssessment'>
        </receiver>
        <receiver android:name='com.example.wgutermassistant.NotificationPublisherCourse'>
        </receiver>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoTermsActivity">
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TermEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".TermListActivity">
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TermDetailActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".CourseEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".CourseListActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".CourseDetailActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".CourseNotesListActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".CourseNotesEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentDetailActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentNotesEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentListActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".ChangeCourseTermActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentAlertsListActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".AssessmentAlertEditorActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".SendEmailActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity android:name=".ProgressTrackerActivity">
            android:parentActivityName=".TermListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
    </application>

</manifest>